# Example NAMD input for NPT simulation for a solvated protein
# AMBER VERSION!!!!!!!! ff19SB
# Temperature & pressure control using Langevin
# Start dynamics

#######################################################
#    PDB, PSF, PAR, VEL & INPUT PARAMETERS
#######################################################
#ambercoor     ala.19sb.rst7 	# need the NAMD coor file from GaMD equil
parmfile      ala.19sb.parm7 
                
amber		on 
readexclusions  yes  
scnb		2.0   # scaling factor for 1-4 VDW ints

# DESIGNATE ALL YOUR INPUT RESTART FILES :'(
coordinates	<BASENAME>.coor
velocities      <BASENAME>.vel 
extendedSystem  <BASENAME>.xsc 
#firsttimestep   24320000 

mergeCrossterms no   # To include CMAP correction

seed            2971                                                   
temperature     298.0                                                 
timestep        2.0                                                  
stepspercycle   20    # number of steps before making new pairlist
    
######################################################
# Output Files and Frequency
######################################################

binaryoutput    no
binaryrestart   no 

outputname      <BASE>.19sb.<CURR> 
dcdfile         <BASE>.19sb.<CURR>.dcd
restartname     <BASE>.19sb.<CURR>.rst


outputEnergies  500 # display every 10 ps
outputTiming    500 # display every 10 ps
xstFreq         500 # save every 10 ps
dcdFreq         500 # save every 10 ps
restartfreq     500 # update restart file every 10 ps

######################################################
# Temperature & Pressure Control
######################################################
Langevin                on
LangevinDamping         5.0
LangevinTemp            298.0
LangevinPiston          off
langevinPistonTarget    1.01325      # pressure in bar -> 1 atm
langevinPistonPeriod    200.         # oscillation period around 200 fs
langevinPistonDecay     100.         # oscillation decay time of 100 fs
langevinPistonTemp      298.0        # coupled to heat bath

######################################################
# Nonbonded Setup
######################################################
switching       off
cutoff          10.0
pairlistdist    10.0
LJcorrection	on

exclude         scaled1-4
1-4scaling      0.8333
dielectric      1.0

######################################################
# Constraints
######################################################
rigidBonds      all
rigidTolerance  0.00001
rigidIterations 100
useSettle       on

######################################################
# Electrostatics
#######################################################
PME yes
PMEGridSizeX 36
PMEGridSizeY 40
PMEGridSizeZ 36

######################################################
# Unit Cell Definition
######################################################
useFlexibleCell     no
useGroupPressure    yes
cellOrigin          0 0 0
wrapAll             on
margin              5.0

######################################################
# GaMD Parameters                    
######################################################
accelMD                  on             
accelMDdual              on 
accelMDdihe              on
accelMDG                 on             
accelMDGiE               1              

accelMDGcMDSteps         0        
accelMDGEquiSteps        0       
accelMDGcMDPrepSteps     0       
accelMDGEquiPrepSteps    0      
accelMDOutFreq           500 

accelMDGStatWindow       10000 

accelMDGsigma0P          6.0            
accelMDGsigma0D          6.0            

accelMDGRestart          on
accelMDGRestartFile     <BASENAME>.gamd  

# Run for 10.0 ns
run 5000000
